html, body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
}

button {
    background: rgb(6, 198, 48);
    width: 200px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(94, 255, 0);
    cursor: pointer;
}

p {
    color: rgb(0, 0, 0);
}


.task {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 50%;
    transform: translate(0, -50%);
}